@import url('https://kit.fontawesome.com/338f828892.js');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css');

.added-product{
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: 0 2px 5px #aaa;
    margin-top: 10px;
    width: 70vw;
    min-width: max-content;
    height: 250px;
    margin-right: 20px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.a{
    width: 60%;
    height: 250px;
}
.b{
    width: 25%;
    height: 250px;
}
.c{
    width: 15%;
    height: 250px;
}
button:last-child{
    margin-top: 10px;
}
#cartHead{
    margin-left: 30px;
    text-align: left;
    width: 80%;
    margin-top: 20px;
    font-size: 35px;
    font-family: 'Garamond';
}
h4{
    font-family: 'arial';
}
section:first-child{
    margin-top: 20px;
}

.image>img{
    width: 190px;
    height: 150px;
    object-fit: contain;
    padding: 5px;
    box-shadow: 0px 2px 5px #aaa;
    margin-bottom: 20px;
    margin-left: 10%;
}
.image{
    
    height: 160px;
}
.cart_info{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    height: 190px;
}
.desc{
    margin-left: 10%;
    display: block;
    width: 100%;
    height: 190px;
}
 .desc >button
{
    margin-left: 15px;
    margin-right: 5px;
    margin-bottom: 20px;
    width: 120px;
    height: 40px;
    background-color: black;
    color: #fff;
    border: 1px solid black;
}
.c p{
    margin-top: 40px;
    margin-left: 20px;
}
.desc p{
    font-size: 20px;
    color: #000c73;
    margin-bottom: 3px;
}
small{
    font-size: 16px;

}

.Quantity{
   transform: translateY(20px);
   box-sizing: border-box;
   justify-content: space-around;
   border: 1px solid #aaa;
   padding: 2px;
   position: relative;
   width: 170px;
   height: 27px;
   
}
.Quantity h4{
margin-left: 40px;
}

i{
    width: 20px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.Quantity input{
    width: 30px;
    border: none;
    margin-left: 20px;
    font-size: 18px;
}

aside div,h4
{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    align-content: space-around;
}

aside{
    padding-top: 1px;
    justify-content: space-around;
    background-color: rgb(247, 247, 247);
    align-content: space-around;
    margin-top: 25px;
    margin-right: 20px;
    width: 25vw;
    height: 350px;
}
.checkout_button{
    margin-top: 10px;
    transform: translateX(0px);
    justify-content: center;
    width: 180px;
}
main{
    display: flex;
    width: 100%;
}
button:hover
{
    background-color: rgba(0, 0, 0, 0.637);  
}

@media only screen and (max-width: 900px){
    body{
        
        width: 100%;
    }
    main{
        display: block;
        width: 100%;
    }
    p{
        font-size: 16px;
    }
    .Product{
        width: 100%;
    }
    section{
        width: 95%;
        padding: 5px;
        height: fit-content;
        margin-left: 10px;
        margin-right: 10px;
    }
    aside{
        margin: 40px 10px; 
        width: 95%;
    }
    #remove{
        width: 100px;
        height: 40px;
        transform: translate(-10px,-20px);
        margin-top: 10%;
        
    }
    #save{
        width: 100px;
        height: 40px;
        transform: translate(110px,-103px);
        margin-top: 10%;
    }
    .Quantity{
        width: 170px;
        margin-left: 20px;
    }
    .b{
        width: fit-content;
    }
    .c p{
        margin-top: 10%;
    }
    .c{
        margin-left: 10%;
    }
    img{
        margin-top: 10%;
        width: 150px;
        height: 120px;
    }
    .cart_info p,small{
        margin-left: 10%;
    }
}
