@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Road+Rage&display=swap');

  .product_reviews{
      transform: translateY(-10px);
      margin-top: 0%;
  }
  
  .Product_image >img{
      width: 500px;
      object-fit: contain;
      margin-top: 100px;
      padding-left: 50px;
  }
  
  .Product_section{
    width: 80%;
    margin: auto;
      margin-bottom: 50px;
        font-family: 'Bebas Neue', cursive;
      display: flex;
      justify-content: space-between;
  }
  
  .Product_image{
      width: 40%;
  }
  
  .product_details
  {
      width: 60%;
    display: flex;
    flex-direction: column;
    margin: 100px;
  }
  
  .cart_button {
      width: 190px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: black;
      margin-right: 15px;
      border: none;
      font-size: medium;
  }
  
  .cart_button:hover {
      background-color: white;
      color: black;
      border: 2px solid black;
      font-size: medium;
      transition: all ease 0.2s;
  }
  
  .product_name{
      word-wrap: break-word;
      font-size: 24px;
      font-weight:bold;
  }
  
  .product_price
  {
      padding-bottom: 15px;
      transform: translateY(-5px);
      font-size: 25px;
  }
  
  .button-wrapper
  {
      display: flex;
      margin-top: 30px;
  }
  
  .button:hover {
      background-color: black;
      transition: all ease 0.2s;
  }
  
  .review_button {
      width: 200px;
      height: 50px;
      justify-content: center;
      align-items: center;
      color: white;
      background-color: black;
      margin-top: 10px;
      border: none;
      font-size: medium;
  }
  
  .review_button:hover {    
      
      background-color: white;
      color: black;
      border: 2px solid black;
      font-size: medium;
      transition: all ease 0.2s;
  }
  
  .desc
  {
      padding-top: 20px;
      padding-bottom: 25px;
      display: block;
      word-wrap: break-word;
      line-height: 1.6;
      font-style: italic;
      font-weight: 600;
      letter-spacing: 1px;
      word-spacing:8px;
  }
  
  @media screen {
      Page_section {
          flex-direction: column;
      }
  }
  
  @media only screen and (max-width: 900px) {
      .Product_section {
          flex-direction: column;
      }
      .product_details{
          margin: auto;
      }
  }