@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

.container{
    max-width: 1170px;
    margin: 0px;
    padding: 10px 10px 10px 10px;
}   	

.row{
    display: flex;
    flex-wrap: wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color: #0a9396;/*Main Background*/
    padding: 50px 0px;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    color: white;
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 40px;
    font-weight: bolder;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    bottom: -10px;
    height: 2px;
    background-color: #005f73;/*Underline*/
    box-sizing: border-box;
    width: 60px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    font-weight: 300;
    display: block;
}

.footer-col ul li a:hover{
    padding-left: 2px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #0cabad;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: white;
    transition: all .5s ease;
}

.footer-col .social-links a:hover{

    background-color: #0ecccf;
    color: black;
}