@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat;
}

header{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #0a9396;
    padding: 10px;
    text-align: center;
    font-size: 18px;
    margin: 0px;
    font-family: montserrat;
}



a, button{
    font-family: montserrat;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: all .3s ease 0s;
    
}

a:hover{
    transition: border 1px 1px;
    border-color: white;
}

nav{
    display: flex;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: #005f73;
}


nav>a{
    transition: all .4s ease;
}

nav>a:hover{
    color: black;
}



input{
    padding: 10px 50px;
    border-radius: 5px;
    color: rgb(160, 160, 160);
    font-family: montserrat, sans-serif;
    border: none;
}

#srch{
    color: white;
    padding: 10px 18px;
    background-color: #005f73;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

#srch:hover{
    background-color: #0ecccf;
    color: black;
}

main{
    background-color: white;
}

section{
    color: rgb(165, 165, 165);
    padding: 40px;
    text-align: center;
    font-size: 22px;
    margin: 0px;
    font-family: montserrat;
    
}
.opts{
    font-size: 25px;
    cursor: pointer;
}

select{
    color: white;
    padding: 9px 18px;
    background-color: #0cabad;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: montserrat;
}