@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bebas+Neue&family=Road+Rage&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: montserrat; */
}
.Header{
    position: relative;
    top: 0;
}



header>h1{
    text-align: center;
    position: sticky;
    top: 0;
    color: white;
    background-color: rgb(26, 26, 26);
    padding: 12px;
    font-family: 'Bebas Neue', cursive;
}

#space{
    background-color: rgb(46, 46, 46);
    padding: 1px;
}


a, button{
    font-family: montserrat;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: all .3s ease 0s;
    
}

a:hover{
    transition: border 1px 1px;
    border-color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: rgb(26, 26, 26);
}


nav>a{
    transition: all .4s ease;
}

nav>a:hover{
    color: yellow;
}

input{
    padding: 8px 40px;
        border-radius: 3px;
    color: rgb(0, 0, 0);
    font-family: montserrat, sans-serif;
    border: none;
    margin : 5px;
}

#srch{
    color: white;
    padding: 8px 18px;
    background-color: rgb(46, 46, 46);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all .3s ease 0s;
}

#srch:hover{
    background-color: rgb(85, 85, 85);
    color: yellow;
}

.categories{
    color: rgb(165, 165, 165);
    
}
.categories>div{
    position: relative;
top: 100px;
display: none;
    padding: 10%;
    background-color: aqua;
    margin: 1px;
}
main{
    background-color: white;
}

section{
    color: rgb(165, 165, 165);
    padding: 40px;
    text-align: center;
    font-size: 22px;
    margin: 0px;
    font-family: montserrat;
    
}
        

select{
    color: white;
    padding: 8px 40px;
    background-color: rgb(46, 46, 46);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: montserrat;
}